table{
    color: white;
    /* background-color: white; */
}

.creation-wrapper{
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    width: 85%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 50vh;
    margin: 100px auto;
    border-radius: 10px;
    padding: 20px;
}
input{
    margin-top: 10px;
}
.alert-box{
    width: 100%;
    height: 40px;
}
.alert{
    width: 60%;
    margin: 0 auto;
}
/* .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
} */
.stat-info{
    display: none;
}
.stat-trigger{
    width: fit-content;
    margin: auto;
}
.stat-trigger:hover +.stat-info{
    display: block;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 45vh;
    left: 60vw;
    width: 30vw;
}
.stat-trigger:hover{
    color: rgb(119, 5, 5);
    cursor: pointer;
}
.submit-char{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(136, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 75px;
}
.submit-char:hover{
    background-color: rgb(196, 47, 47);
}
.red{
    color: rgb(119, 5, 5)
}
.character-info{
    display: flex;
    justify-content: center;
    width: 100%;
}
.character-sub-info{
    width: 20%;
}
.char-img img{
    width: 30vw;
}
.stats-table{
    font-size: 20px;
}
.stats-table td{
    width: fit-content;
    color: rgba(255, 208, 0, 0.808);
}
@media screen and (max-width: 950%) {
    .creation-wrapper{
        max-width: 200px;
        background-color: white;
    }
}