.main-wrapper{
    height: 85vh;
    padding: 0;
    overflow-y: visible;
    background-color: rgba(0, 0, 0, 0.479);
    overflow-x: hidden;
    margin: 0;
}
.main{
    background-color: rgba(0, 0, 0, 0.795);
    width: 90%;
    margin: 0px auto;
    padding: 20px;
    min-height: 100%;
    max-height: fit-content;
}
.card{
    text-align: center;
    height: fit-content;
    width: 25vw;
    background-color: rgb(19, 19, 19);
    color: white;
    margin: 10px;
}
.card-image{
    max-width:80%;
    /* height:250px; */
    margin: 10px 10%;
    width: auto;
    height: auto
    /* border-radius: 5px; */
}
.card-body a{
    color: white;
    text-decoration: none;
}
.main-wrapper::-webkit-scrollbar {
    width: 10px;
}
.main-wrapper::-webkit-scrollbar-thumb {
    background-color: #6e0808ce;
    border-radius: 3px;
}
.pc-btm{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}
.pc-top{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
}
.pc-top .card{
    margin: 10 auto;
}
.holder-text{
    height: 18vh;
    font-size: 1vw;
}
.text{
    text-align: left;
    padding: 0 10%;
    width: 100%;
    color: white;
    margin-right:10%;
}

.intro:hover{
    width: 80%;
}
.intro-holder{
    width: 100%;
}
.center{
    text-align: center;
    color: white;
}


.transforming-img {
    text-align: center;
    margin: 50px;
    list-style: none;
}
.transforming-img li {
    margin: 10px;
    display: inline-block;
}
.transforming-img li a {
    padding: 5px;
    display: inline-block;      
    border: 1px solid #f2f2f2;
}
.transforming-img li img {
    height: 250px;
    display: block;
}
.transforming-img li img:hover  {
    transform: scale(1.3);
    transition: 500ms;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
