body{
    background-image: url(asset/backgrounds/main-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    /* opacity: .9; */
    overflow-y: hidden;
}
.head{
    background-color: rgba(0, 0, 0, 0.815);
    height: fit-content;
}
.main-nav-bar{
    width: 100vw;
    background-color: rgb(161, 1, 1);
    height: 45px;
}
.super-top{
    display: flex;
    justify-content: space-between;
    height: 5vh;
}
.top-search{
    margin: 10px 50px;
    border-radius: 5px;
}
/* .nav-tabs{
    display: flex;
    justify-content: space-between;
    height: 100px;
} */
.main-icon{
    height: 5vh;
}
.right-nav-bar{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 5px;
}
.right-nav-item{
    vertical-align: bottom;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    /* height: 50%; */
}
.right-nav-item:hover{
    background-color: rgb(155, 51, 51);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.right-nav-item a{
    text-decoration: none;
    color: white;
    padding: 10px 35px;
    position: relative;
    top: 5px;
}

.active{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(155, 51, 51);
}
.active:hover{
    background-color: maroon;
}
.foot{
    height: 10vh;
    background-image: linear-gradient(black, rgba(19, 19, 19, 0.911), black);
}
@media screen and (max-width: 700px){
    .super-top{
        visibility: hidden;  
        height: 0;
    }
    .head{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    body{
        width: fit-content;
    }
    .main-nav-bar{
        width: 100%;
        margin: 0;
        height: 5vh;
    }
    .right-nav-bar{
        width: 100vw;
        justify-content: space-evenly ;
    }
    .right-nav-item{
        width: 25%;
    }
    .active:hover{
        display: none;
    }
    .active{
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: none;
        color: gold;

    }
    .pc-btm{
        flex-direction: column;
        text-align: center;
    }
    .card{
        background-color: red;
    }
    .main{
        width:100vw;
        height:fit-content;
        margin: 0;
        padding: 0;
        overflow: visible;
    }
    .main-wrapper::-webkit-scrollbar {
        display: none;
        width: 0px;
    }
    .pc span{
        display: none;
    }
    .pc:after{
        content: 'PC';
    }
    .pc{
        width: fit-content;
    }
    .mob-img{
        width: 15vw;
    }
}
